.container {
  max-width: 960px;
}

h1 {
  font-weight: bold;
  text-align: center;
}

.navbar {
  background-color: #337ab7;
  color: white;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: #0057b7;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;

  
}